body {
    font-family: 'Calibri', sans-serif;
}

h1 {
    font-family: 'Georgia', serif;
}

label {
    font-family: 'Verdana', sans-serif;
}

.bordered-div {
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}