.main-title {
    text-align: center;
    margin-bottom: 20px;
}

.page-links {
    display: flex;
    flex-direction: column; 
    position: absolute; 
    top: 70px; 
    right: 20px;
    z-index: 1001; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px; 
    padding: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page-link {
    position: relative;
    margin-bottom: 10px;
}

.page-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
}
